<!DOCTYPE HTML>
<html>
	<head>
	
		<title>J1 Practice</title>
		<script src="https://unpkg.com/vue@3"></script>
		<style>
			.formfield{margin-bottom:10px;}
		</style>
	</head>
	<body>
	<p>Cupcake Party. <a href="https://cemc.uwaterloo.ca/contests/computing/2022/ccc/juniorEF.pdf">from the J1 problem hosted by the CCC.</a></p>
	<div id="app">
		<div class="formfield">
			<label>Regular Boxes: <label> <input v-model="cupcake_qty_medium">
		</div>
		<div class="formfield">
			<label>Small Boxes: <label> <input v-model="cupcake_qty_small">
		</div>
		<div id="result">
			<div><label>Display results:</label><input type="checkbox" v-model="display_results"></div>
			<div v-if="display_results">Total Cupcakes: {{ cupcake_total }}</div>
			<div v-if="display_results">Total Remaining: {{ cupcakes_remaining }}</div> 
		</div>
	</div>
	
	<script>
		const { createApp } = Vue;

		const app = createApp({
			data() {
				return {
					display_results:false,
					cupcake_qty_medium:0,
					cupcake_qty_small:0,
					cupcake_value_medium:8,
					cupcake_value_small:3,
					total_students:28
				}
			},
			computed: {
				cupcake_total:function(){
					return (this.cupcake_qty_medium * this.cupcake_value_medium) + (this.cupcake_qty_small * this.cupcake_value_small);
				},
				cupcakes_remaining:function(){	
					return this.cupcake_total - this.total_students;
				}
			}
		});

		app.mount("#app");
	</script>
	<!--
		v-model will allow you to quickly bind form elements to the data property.
		Make sure to set a default value!
		The Computed property can be used like data, except for values that are calculated from data properties.
		In this example 'treat_total' is computed from data properties, and 'is_happy' is computed from 'treat_total'.
		
		ASYNCHRONOUS LEARNING EXERCISE : J1
		- Find any J1 problem
		- Imagine an interface that allows the user to enter data on the webpage
		- Build using v-model and computed properties!
	
	-->
	</body>
</html>